<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxwl.hotelbooking.mapper.BrandsMapper">
  <resultMap id="BaseResultMap" type="com.wxwl.hotelbooking.common.domain.Brands">
    <id column="brandId" jdbcType="VARCHAR" property="brandid" />
    <result column="brandName" jdbcType="VARCHAR" property="brandname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    brandId, brandName
  </sql>
  <select id="selectByExample" parameterType="com.wxwl.hotelbooking.common.domain.BrandsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from brands
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from brands
    where brandId = #{brandid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from brands
    where brandId = #{brandid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wxwl.hotelbooking.common.domain.BrandsExample">
    delete from brands
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wxwl.hotelbooking.common.domain.Brands">
    insert into brands (brandId, brandName)
    values (#{brandid,jdbcType=VARCHAR}, #{brandname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wxwl.hotelbooking.common.domain.Brands">
    insert into brands
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="brandid != null">
        brandId,
      </if>
      <if test="brandname != null">
        brandName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="brandid != null">
        #{brandid,jdbcType=VARCHAR},
      </if>
      <if test="brandname != null">
        #{brandname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wxwl.hotelbooking.common.domain.BrandsExample" resultType="java.lang.Long">
    select count(*) from brands
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update brands
    <set>
      <if test="record.brandid != null">
        brandId = #{record.brandid,jdbcType=VARCHAR},
      </if>
      <if test="record.brandname != null">
        brandName = #{record.brandname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update brands
    set brandId = #{record.brandid,jdbcType=VARCHAR},
      brandName = #{record.brandname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wxwl.hotelbooking.common.domain.Brands">
    update brands
    <set>
      <if test="brandname != null">
        brandName = #{brandname,jdbcType=VARCHAR},
      </if>
    </set>
    where brandId = #{brandid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wxwl.hotelbooking.common.domain.Brands">
    update brands
    set brandName = #{brandname,jdbcType=VARCHAR}
    where brandId = #{brandid,jdbcType=VARCHAR}
  </update>
</mapper>