<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxwl.hotelbooking.mapper.ReservesMapper">
  <resultMap id="BaseResultMap" type="com.wxwl.hotelbooking.common.domain.Reserves">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hotelId" jdbcType="INTEGER" property="hotelid" />
    <result column="roomId" jdbcType="INTEGER" property="roomid" />
    <result column="createAt" jdbcType="VARCHAR" property="createat" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userPhone" jdbcType="VARCHAR" property="userphone" />
    <result column="userEmail" jdbcType="VARCHAR" property="useremail" />
    <result column="checkInAt" jdbcType="DATE" property="checkinat" />
    <result column="checkOutAt" jdbcType="DATE" property="checkoutat" />
    <result column="pay" jdbcType="CHAR" property="pay" />
    <result column="price" jdbcType="DECIMAL" property="price" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, hotelId, roomId, createAt, userName, userPhone, userEmail, checkInAt, checkOutAt, 
    pay, price
  </sql>
  <select id="selectByExample" parameterType="com.wxwl.hotelbooking.common.domain.ReservesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reserves
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from reserves
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from reserves
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wxwl.hotelbooking.common.domain.ReservesExample">
    delete from reserves
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wxwl.hotelbooking.common.domain.Reserves" useGeneratedKeys="true" keyProperty="id">
    insert into reserves (id, hotelId, roomId, 
      createAt, userName, userPhone, 
      userEmail, checkInAt, checkOutAt, 
      pay, price)
    values (#{id,jdbcType=INTEGER}, #{hotelid,jdbcType=INTEGER}, #{roomid,jdbcType=INTEGER}, 
      #{createat,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{userphone,jdbcType=VARCHAR}, 
      #{useremail,jdbcType=VARCHAR}, #{checkinat,jdbcType=DATE}, #{checkoutat,jdbcType=DATE},
      -- pay: CHAR -> VARCHAR
      #{pay,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.wxwl.hotelbooking.common.domain.Reserves">
    insert into reserves
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hotelid != null">
        hotelId,
      </if>
      <if test="roomid != null">
        roomId,
      </if>
      <if test="createat != null">
        createAt,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="userphone != null">
        userPhone,
      </if>
      <if test="useremail != null">
        userEmail,
      </if>
      <if test="checkinat != null">
        checkInAt,
      </if>
      <if test="checkoutat != null">
        checkOutAt,
      </if>
      <if test="pay != null">
        pay,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hotelid != null">
        #{hotelid,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="createat != null">
        #{createat,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null">
        #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="checkinat != null">
        #{checkinat,jdbcType=DATE},
      </if>
      <if test="checkoutat != null">
        #{checkoutat,jdbcType=DATE},
      </if>
      <if test="pay != null">
        #{pay,jdbcType=CHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wxwl.hotelbooking.common.domain.ReservesExample" resultType="java.lang.Long">
    select count(*) from reserves
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update reserves
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.hotelid != null">
        hotelId = #{record.hotelid,jdbcType=INTEGER},
      </if>
      <if test="record.roomid != null">
        roomId = #{record.roomid,jdbcType=INTEGER},
      </if>
      <if test="record.createat != null">
        createAt = #{record.createat,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.userphone != null">
        userPhone = #{record.userphone,jdbcType=VARCHAR},
      </if>
      <if test="record.useremail != null">
        userEmail = #{record.useremail,jdbcType=VARCHAR},
      </if>
      <if test="record.checkinat != null">
        checkInAt = #{record.checkinat,jdbcType=DATE},
      </if>
      <if test="record.checkoutat != null">
        checkOutAt = #{record.checkoutat,jdbcType=DATE},
      </if>
      <if test="record.pay != null">
        pay = #{record.pay,jdbcType=CHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update reserves
    set id = #{record.id,jdbcType=INTEGER},
      hotelId = #{record.hotelid,jdbcType=INTEGER},
      roomId = #{record.roomid,jdbcType=INTEGER},
      createAt = #{record.createat,jdbcType=VARCHAR},
      userName = #{record.username,jdbcType=VARCHAR},
      userPhone = #{record.userphone,jdbcType=VARCHAR},
      userEmail = #{record.useremail,jdbcType=VARCHAR},
      checkInAt = #{record.checkinat,jdbcType=DATE},
      checkOutAt = #{record.checkoutat,jdbcType=DATE},
      pay = #{record.pay,jdbcType=CHAR},
      price = #{record.price,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wxwl.hotelbooking.common.domain.Reserves">
    update reserves
    <set>
      <if test="hotelid != null">
        hotelId = #{hotelid,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        roomId = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="createat != null">
        createAt = #{createat,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        userPhone = #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null">
        userEmail = #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="checkinat != null">
        checkInAt = #{checkinat,jdbcType=DATE},
      </if>
      <if test="checkoutat != null">
        checkOutAt = #{checkoutat,jdbcType=DATE},
      </if>
      <if test="pay != null">
        pay = #{pay,jdbcType=CHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wxwl.hotelbooking.common.domain.Reserves">
    update reserves
    set hotelId = #{hotelid,jdbcType=INTEGER},
      roomId = #{roomid,jdbcType=INTEGER},
      createAt = #{createat,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      userPhone = #{userphone,jdbcType=VARCHAR},
      userEmail = #{useremail,jdbcType=VARCHAR},
      checkInAt = #{checkinat,jdbcType=DATE},
      checkOutAt = #{checkoutat,jdbcType=DATE},
      pay = #{pay,jdbcType=CHAR},
      price = #{price,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>