<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf</title>
</head>
<body>
<h1>演示Thymeleaf 基础语法</h1>
<hr>
<!--原型即界面-->
<!--<div style="color:red;" th:text="${msg}">提示信息2</div>-->
<!--<div style="color:red;">[[${msg}]]</div>-->
<div style="color:red;" th:utext="${msg}">提示信息2</div>
<!--<div style="color:red;">[(${msg})]</div>-->

<hr>
<ul>
    <li th:each=" hotel: ${hotels}">
        <span th:text="${hotel.toString()}">酒店信息</span>
    </li>
</ul>
</body>
</html>